---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn-github {
  display: none !important;
}

#sidebar {
  display: none !important;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
